body{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color:burlywood ;
}
main{
    width: 1400px;
    height: 800px;
    border: 1px solid black;
  
}
h1{
    text-align: center;
    margin-top: 10px;
}
p{
    margin-left:20px ;
    margin-right: 20px;
    text-align: center;
}